<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    </head>
    <body>
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>